{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Tu elección
{% endblock %}

<font color="burlywood"><h4 align="right">Tu ID: {{ participant_id }}</h4></font>

{% block content %}

<p>
    Se te ha asignado el <b>rol B</b>. De una dotación de {{Constants.endowment}}, <br>
    el participante A te ha enviado {{group.sent_amount}}.
</p>
<p>
    Este monto se ha multiplicado por {{ Constants.multiplier }} convirtiendose en {{tripled_amount}}.
</p>
<p>
    ¿Cuánto deseas enviar de regreso al participante A? <br>
    (puedes regresar de 0 a {{tripled_amount}})
</p>

    {% formfield group.sent_back_amount with label="Por favor, ingrese el monto aquí:" %}

<p>
    {% next_button %}
</p>

    {% include Constants.instructions_button %}
    <p>
        {% include Constants.contact_template %}
    </p>
{% endblock %}
