<table class="table">
    <tr>
        <th>Cantidad Promedio Enviada</th>
        <td>{{ avg_sent_amount }}</td>
    </tr>
    <tr>
        <th>Cantidad Enviada (Rango)</th>
        <td>{{ range_sent_amount }}</td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th>Cantidad Promedio Regresada</th>
        <td>{{ avg_sent_back_amount }}</td>
    </tr>
    <tr>
        <th>Cantidad Regresada (Rango)</th>
        <td>{{ range_sent_back_amount }}</td>
    </tr>
</table>