{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
    .otree-form-errors {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
    Resultados
{% endblock %}

{% block content %}
<font color="burlywood"><h4 align="right">Tu ID: {{ participant_id }}</h4></font>
<br>

<p>Gracias. Has completado el quiz.</p>

<p>Has respondido {{ player.num_correct }} de 4 preguntas correctamente.</p>

<p>Entonces, has ganado {{ quiz_earnings }} en este quiz.</p>

<p>Al dar click al botón "Siguiente", comenzarás la tarea o interacción principal.</p>

<br>

    <input type="hidden" name="quiz_dec_2"/>
    {{ form.quiz_dec_2.errors }}
    {% next_button %}

<br><br>
{% include Constants.contact_template %}
{% endblock %}