{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Alto
{% endblock %}

{% block content %}

<ul>
    <li>El sistema ha detectado que te intentas conectarte desde un dispositivo móvil. Debes realizar este
        <b>experimento</b> desde una <b>laptop o computadora</b> tal como se indicó en los correos anteriores</li>
    <li>Por favor, entrar al link enviado al correo y colocar su etiqueta de participante desde ahí para reconectarse
        al experimento. Perjudicará a sus compañeros en caso no lo haga lo más pronto posible.</li>
</ul>
{% endblock %}
